# AL dependencies
.alpackages/

# AL package output
*.app

# Snapshots
.snapshots/

# VS Code
.vscode/.alcache/

# Build output
bin/
obj/

# Visual Studio
.vs/

# Temporary files
*.tmp
Thumbs.db
.DS_Store